extends layout

block content
  h1= title
  h2 Coffee Orders
  ul(id='listOfOrders' style='background: gray; padding: 5px')
  h3 Add an order
  p Name:
    input(type='text', id='inputName')
  p Drink:
    input(type='text', id='inputDrink')
  button(id='btnAdd') Add
